@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title
                    <small>@ViewBag.Message</small>
            </h1>
            <p>This project is available to view on <a href="https://github.com/wilsoncg/WattBikeToTcx">github</a>.</p>
        </div>
    </div>
</div>