@{
    ViewBag.Title = "About";
}
<hgroup>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>This project is available to view on<a href="https://github.com/wilsoncg/WattBikeToTcx">github</a>.</p>
    </div>
</div>