@{
    ViewBag.Title = "Upload To Garmin";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title
                    <small>@ViewBag.Message</small>
            </h1>
            <p>Upload to Garmin Connect</p>
        </div>
    </div>
</div>